@(page: String, nav:String, users: List[User], currentUser: User)

@main(page, nav) {
    <div class="page-header">
        <h1>Users <small>all users in the GarageBuddy platform</small></h1>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email Address</th>
                <th>Login Attempts</th>
            </tr>
        </thead>
        <tbody>
        @for(user <- users) {
            <tr>
                <td>@user.name</td>
                <td>@user.email</td>
                @if(user.canLogin) {
                    <td>@user.getLoginAttempts</td>
                } else {
                    <td class="text-danger">
                        @user.getLoginAttempts() login attempts -
                        <a href="/users/@user.email/reset_attempts" class="btn btn-xs btn-warning">
                            <i class="fa fa-unlock">&nbsp;</i>
                            Unlock
                        </a>
                    </td>
                }
            </tr>
        }
        </tbody>
    </table>
}
