@(userForm: Form[User], currentUser: User)

@main("Profile", "Profile") {
    <div class="page-header">
        <h1>Profile <small>it's all about you</small></h1>
    </div>
    <form action="/profile" method="POST">
        @common.flashNotification()
        @common.formErrors(userForm.asInstanceOf[Form[Object]])
        <div class="row">
            <div class="col-sm-8">
                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control" type="text" name="name" required placeholder="John Doe" value="@userForm("name").value()">
                </div>
                <div class="form-group">
                    <label>Email Address</label>
                    <input class="form-control" type="text" name="name" required placeholder="john@@garagebuddy.org" value="@userForm("email").value()">
                </div>
                <hr/>
                <div class="form-group">
                    <label>Street Address</label>
                    <input class="form-control" type="text" name="address" placeholder="1234 Main Street" value="@userForm("address").value()">
                </div>
                <div class="form-group">
                    <label>City</label>
                    <input class="form-control" type="text" name="city" placeholder="Atlanta" value="@userForm("city").value()">
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>State</label>
                            <input class="form-control" type="text" name="state" placeholder="Georgia" value="@userForm("state").value()">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Postal Code</label>
                            <input class="form-control" type="text" name="postalCode" placeholder="00000" value="@userForm("postalCode").value()">
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="form-group">
                    <label>New Password (leave blank unless you want to change it)</label>
                    <input class="form-control" type="password" name="newPassword" placeholder="new password">
                </div>
                <div class="form-group">
                    <label>Current Password (required to edit profile)</label>
                    <input class="form-control" type="password" name="currentPassword" required placeholder="current password">
                </div>
                <div class="action-btns">
                    <button class="btn btn-success pull-right" type="submit">Save Changes</button>
                    <a class="btn btn-danger pull-right" href="/profile/delete">Delete Account</a>
                </div>
                <hr class="spacer spacer-huge"/>
            </div>
            <div class="col-sm-4 hidden-xs">
                <div class="panel panel-default text-center">
                    <div class="panel-body">
                        <img src="@routes.Assets.versioned("images/logo-color.svg")" width="240">
                        <hr class="spacer"/>
                        <hr class="spacer"/>
                        <p>
                            <strong>GarageBuddy 1.0.0.alpha-7</strong>
                            <small><br /><a href="https://github.com/deanpapastrat/GarageBuddy" target="_blank">Source Code</a></small>
                        </p>
                        <hr/>
                        <p><small>
                            <i class="fa fa-heart text-danger"></i> Crafted with love by Andre Allen, Taj Gillani, Zhiqiang Lin, Dean Papastrat, and Alex Woods
                        </small></p>
                    </div>
                </div>
            </div>
        </div>
    </form>
}
