@landing {
 <div class="modal-body text-center">
  <h3>Welcome!</h3>
  <hr class="spacer spacer-thick"/>
  <p class="thin">
   GarageBuddy makes your garage sale a success by automating the busy work that you don't want to do.
  </p>
  <hr class="spacer"/>
  <p>
   Register now!
  </p>
 </div>
 <div class="modal-footer">
  <div class="row">
   <div class="col-sm-6"><a href="/register" class="btn btn-link btn-block">Register</a></div>
   <div class="col-sm-6"><a href="/login" class="btn btn-success btn-block">Log In</a></div>
  </div>
 </div>
}