@landing {
  <div class="modal-header text-center hidden-xs">
    <h3>Sign In</h3>
    <p class="text-muted uppercase"><small>Please provide your credentials</small></p>
  </div>
  <form>
    <div class="modal-body">
      <div class="form-group">
        <label>Email Address</label>
        <input class="form-control" type="email" name="email" placeholder="john@@garagebuddy.org" required>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input class="form-control" type="password" name="password" placeholder="password" required>
      </div>

      <div class="login-buttons">
        <button type="submit" class="btn btn-success btn-block">Log In</button>
        <div class="row">
          <div class="col-sm-6">
            <a href="/" class="btn btn-link btn-block btn-sm forgot">
              <i class="fa fa-angle-left hidden-xs">&nbsp;</i>
              Back to Welcome
            </a>
          </div>
          <div class="col-sm-6 hidden-xs">
            <a href="/register" class="btn btn-link btn-block btn-sm sign-up">
              Register&nbsp;
              <i class="fa fa-angle-right hidden-xs"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </form>
}