@(sale: Sale, saleForm: Form[Sale], currentUser: User)

@main(sale.name, "Sales") {
  @sales.nav(sale, "settings", currentUser: User)

    <div class="row">
        <div class="col-sm-8">
            <form action="/sales/@sale.id/edit" method="POST">
                @common.flashNotification()
                @common.formErrors(saleForm.asInstanceOf[Form[Object]])

                <div class="form-group">
                      <label>Name</label>
                      <input class="form-control" type="text" name="name" required @if(sale.isClosed()){ readonly="true" } placeholder="My Wonderful Sale" value="@saleForm("name").value()">
                </div>

                <div class="form-group">
                    <label>Start Date</label>
                    <input class="form-control" type="date" name="startDate" required @if(sale.isClosed()){ readonly="true" } value="@saleForm("startDate").value()">
                </div>

                <div class="form-group">
                    <label>End Date</label>
                    <input class="form-control" type="date" name="endDate" required @if(sale.isClosed()){ readonly="true" } value="@saleForm("endDate").value()">
                    <small>
                        Sales with End Dates earlier than today will not be shown in the list of Sales.
                    </small>
                </div>

                @if(!sale.isClosed()) {
                    <h4>Close Sale</h4>
                    <div class="form-group">
                        <label>Close Sale</label>
                        <small>
                            Are you sure? Closing a sale prevents it from being edited. Once closed, a Sale can never be reopened!
                        </small>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="close" @if(sale.isClosed()){ readonly="true" } value="markclosed">
                                <strong>Yes, I'm sure. Please close the sale!</strong>
                            </label>
                        </div>
                    </div>
                }

                <div class="action-btns">
                    @if(!sale.isClosed()) {
                        <button class="btn btn-success pull-right" type="submit">Save Changes</button>
                        <a class="btn btn-danger pull-right" href="/sales/@sale.id/delete">Delete Sale</a>
                    }
                    <a class="btn btn-default pull-right" href="/sales/@sale.id">Cancel</a>
                </div>
            </form>
          </div>
    </div>
}