@(sale: Sale, items: List[Item], query: String, currentUser: User)

@main(sale.name, "Sales") {
  @sales.nav(sale, "items", currentUser: User)
  @common.flashNotification()
  @if((query != null && !query.isEmpty()) || (items != null && items.length > 0)) {
    <form class="form-search">
      <h5>Want to find an item? Search for it by name here:</h5>
      <div id="custom-search-input">
        <div class="input-group col-md-12">
          <input type="text" name="q" class="search-query form-control"
          placeholder="Search by item name" value="@query">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </div>
    </form>
    <hr class="spacer"/>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Item Name</th>
          <th>Price</th>
          <th>Description</th>
          <th>ID</th>
          <th>Purchased</th>
          <th>Created By</th>
          <th>Bid</th>
        </tr>
      </thead>

      @if(items != null && items.length > 0) {
        <tbody>
        @for(item <- items) {
          <tr>
            <td>
              <a href="/items/@item.id">@item.name</a>
            </td>
            <td>@if(item.currentBid > item.price) {@item.formattedBid()
            } else {@item.formattedPrice()}
            </td>
            <td>@item.description</td>
            <td>@item.id</td>
            <td>@item.purchased.toString().capitalize</td>
            <td>@item.createdBy.name</td>
            <td>
              <a class="btn btn-success" @if(item.bidding == false){ disabled="true" } else{ href="/items/@item.id/bid"}>
                Bid
              </a>
            </td>
          </tr>
        }
        </tbody>
      </table>
  } else {
      </table>
      <div class="panel text-center">
        <div class="panel-body">
          <h3>No results were found for query: "@query"</h3>
        </div>
      </div>
    }
    @if(!sale.isClosed()) {
      @if(Permissions.canUpdateCatalog(sale, currentUser)) {
        <a class="btn btn-success" href="/sales/@sale.id/items/new">
          <i class="fa fa-plus">&nbsp;</i>
          Add New Item
        </a>
      }
      @if(Permissions.canPrintTags(sale, currentUser)) {
        <a class="btn btn-default" href="/sales/@sale.id/tags" target="_blank">
          <i class="fa fa-print">&nbsp;</i>
          Print Tags
        </a>
      }
      <div class="social-media">
        <a href="@sale.twitterShareUrl()" class="icon-button twitter" target="_blank">
          <i class="fa fa-twitter icon-twitter"></i>
          <span></span>
        </a>

        <a href="@sale.facebookShareUrl()" class="icon-button facebook" target="_blank">
          <i class="fa fa-facebook icon-facebook"></i>
          <span></span>
        </a>

        <a href="@sale.googleShareUrl()" class="icon-button google-plus" target="_blank">
          <i class="fa fa-google icon-google-plus"></i>
          <span></span>
        </a>
      </div>
    }
  } else {
    @if(!sale.isClosed()) {
      <div class="jumbotron">
        <h1>You haven't added any items.</h1>
        <p>
          What good is a garage sale with no items? Well, really it isn't a garage sale at all. Let's fix that.
          Add an item by clicking that big green button below. You could add a lemon, for example.
          <br/>
          <small><i>And if you're anything like Cave Johnson, you'll use that lemon for some exciting things.</i></small>
        </p>
        <a class="btn btn-success" href="/sales/@sale.id/items/new">
          <i class="fa fa-plus">&nbsp;</i>
          Add New Item
        </a>
      </div>
    } else {
      <div class="jumbotron">
        <h1>This sale was closed with no items.</h1>
        <p>
          The user who created this sale has closed it. Normally, this would be a list of all the items that were
          at the sale, but it seems like there were no items.
          <br/>
          <small><i>Try exploring some other sales and see what GarageBuddy can do for you.</i></small>
        </p>
      </div>
    }

  }
}
