@(sale: Sale, members: List[String], currentUser: User)

@main(sale.name + " Members", "Sales") {
    @sales.nav(sale, "members", currentUser: User)
    <h2>
        Members<small> - Garage Sales suck without your friends. </small>
        @if(Permissions.canAssignRole(sale, currentUser)) {
            <a class="pull-right btn btn-success" href="/sales/@sale.id/addMember">Add Member</a>
        } else {
            <a class="pull-right btn btn-success" disabled="true">Add Member</a>
        }
    </h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>User Email</th>
            <th>Role</th>
        </tr>
        </thead>
        <tbody>
        @for(member <- members) {
        <tr>
            <td>@member</td>
            <td>@sale.getUserRole(member)</td>
        </tr>
        }
        </tbody>
    </table>
    @sales.socialMedia(sale)
}
