@(sale: Sale, tab: String)

<ul class="nav nav-tabs">
  @if(tab.equals("dashboard")) {
    <li class="active">
  } else {
    <li>
  }
    <a href="/sales/@sale.id">Dashboard</a>
  </li>
  @if(tab.equals("items")) {
    <li class="active">
  } else {
    <li>
  }
    <a href="/sales/@sale.id/items">Items</a>
  </li>
  @if(tab.equals("report")) {
    <li class="active">
  } else {
    <li>
    }
    <a href="/sales/@sale.id/report">Financial Report</a>
  </li>
  @if(tab.equals("settings")) {
    <li class="active">
  } else {
    <li>
    }
    <a href="/sales/@sale.id/edit">Settings</a>
  </li>
</ul>
<hr class="spacer">