@(sale: Sale, tab: String, currentUser: User)

<div class="page-header">
    <h1>
        @sale.name <small>@sale.getFormattedStartDate to @sale.getFormattedEndDate</small>
    </h1>
</div>

<ul class="nav nav-tabs">
    @if(tab.equals("dashboard")) {
        <li class="active">
    } else {
        <li>
    }
        <a href="/sales/@sale.id">Dashboard</a>
    </li>

    @if(tab.equals("items")) {
        <li class="active">
    } else {
        <li>
    }
        <a href="/sales/@sale.id/items">Items</a>
    </li>

    @if(tab.equals("sell")) {
        <li class="active">
    } else {
        <li>
    }
        @if(Permissions.canSellItems(sale, currentUser)) {
            <a href="/sales/@sale.id/sell">Sell</a>
        } else {
            <a disabled="true">Sell</a>
        }

    </li>

    @if(tab.equals("transactions")) {
        <li class="active">
    } else {
        <li>
    }
        @if(Permissions.canCreateReceipts(sale, currentUser)) {
            <a href="/sales/@sale.id/transactions">Transactions</a>
        } else {
            <a disabled="true">Transactions</a>
        }
    </li>

      @if(tab.equals("report")) {
          <li class="active">
      } else {
          <li>
      }
        @if(Permissions.canAccessFinances(sale, currentUser)) {
            <a href="/sales/@sale.id/report">Financial Report</a>
        } else {
            <a disabled="true">Financial Reports</a>
        }

      </li>

    @if(tab.equals("members")) {
    <li class="active">
        } else {
    <li>
        }
        <a href="/sales/@sale.id/members">Members</a>
    </li>

    @if(tab.equals("settings")) {
    <li class="active">
        } else {
    <li>
        }
        @if(Permissions.canCloseSale(sale, currentUser)) {
            <a href="/sales/@sale.id/edit">Settings</a>
        } else {
            <a disabled="true">Settings</a>
        }

    </li>
</ul>
<hr class="spacer"/>