@(sale: Sale, transactions: List[Transaction], currentUser: User)

@main(sale.name + " Finanical Report", "Sales") {
    @sales.nav(sale, "report", currentUser: User)
    <hr class="spacer"/>
    @if(transactions != null && transactions.length > 0) {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Transaction ID</th>
                    <th>Sold To</th>
                    <th>Sold By</th>
                    <th>Items Sold</th>
                    <th>Transaction Total</th>
                </tr>
            </thead>
            <tbody>
            @for(trans <- transactions) {
                <tr>
                    <td>@trans.id</td>
                    <td>@trans.customerName</td>
                    <td>@trans.seller.name</td>
                    <td>
                        <table>
                            @for(item <- trans.items) {
                                <tr>
                                    <td>@item.name</td>
                                    <td>@item.formattedPrice()</td>
                                </tr>
                            }
                        </table>
                    </td>
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-3">
      <a class="btn btn-block btn-success btn-lg" href="/sales/@sale.id/reportAll">
        <i class="fa fa-line-chart">&nbsp;</i>
        All Reports
      </a>
    </div>
    <div class="col-sm-3">
      <a class="btn btn-block btn-info btn-lg" href="/sales/@sale.id/sellers">
        <i class="fa fa-search">&nbsp;</i>
        Reports by Seller
      </a>
    </div>

    <div class="col-sm-3">

    </div>
  </div>
}