@(sale: Sale, currentUser: User)

@main("Sell: " + sale.name, "Sales") {
  @sales.nav(sale, "report", currentUser)

  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-3">
      <a class="btn btn-block btn-success btn-lg" href="/sales/@sale.id/reportAll">
        <i class="fa fa-line-chart">&nbsp;</i>
        All Reports
      </a>
    </div>
    <div class="col-sm-3">
      <a class="btn btn-block btn-info btn-lg" href="/sales/@sale.id/sellers">
        <i class="fa fa-search">&nbsp;</i>
        Reports by Seller
      </a>
    </div>

    <div class="col-sm-3">

    </div>
  </div>
}