@(sale: Sale, currentUser: User)
@main(sale.name, "Sales") {
    @sales.nav(sale, "dashboard", currentUser: User)
    <div class="sale-charts">
        <div class="row">
            <div class="col-sm-4">
                <h3>Sales to Date</h3>
                <div id="sales-over-time-chart" class="chart" data-chart-y-axis-title='Sales' data-chart-unit-suffix='sales' data-chart-key='transactionsOverTime' data-chart-series-name="@sale.name Sales"></div>
            </div>
            <div class="col-sm-4">
                <h3>Revenue to Date</h3>
                <div id="revenue-over-time-chart" class="chart" data-chart-y-axis-title='Revenue' data-chart-unit-prefix='$' data-chart-key='revenueOverTime' data-chart-series-name="@sale.name Revenue"></div>
            </div>
            <div class="col-sm-4">
                <h3>Items Sold to Date</h3>
                <div id="items-over-time-chart" class="chart" data-chart-y-axis-title='Items Sold' data-chart-unit-suffix='items' data-chart-key='itemsOverTime' data-chart-series-name="@sale.name Items"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <h3>Sales per Day</h3>
                <div id="sales-per-day-chart" class="chart" data-chart-y-axis-title='Sales' data-chart-unit-suffix='sales' data-chart-key='transactionsPerDay' data-chart-series-name="@sale.name Sales"></div>
            </div>
            <div class="col-sm-4">
                <h3>Revenue per Day</h3>
                <div id="revenue-per-day-chart" class="chart" data-chart-y-axis-title='Revenue' data-chart-unit-prefix='$' data-chart-key='revenuePerDay' data-chart-series-name="@sale.name Revenue"></div>
            </div>
            <div class="col-sm-4">
                <h3>Items Sold per Day</h3>
                <div id="items-per-day-chart" class="chart" data-chart-y-axis-title='Items Sold' data-chart-unit-suffix='items' data-chart-key='itemsPerDay' data-chart-series-name="@sale.name Items"></div>
            </div>
        </div>
    </div>
    <script>new GarageBuddy.SalesCharts({id: "@sale.id", el: $('.sale-charts')});</script>
}
