@(items: List[Item], currentUser: User)

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Print Tags</title>
    <link href="@routes.Assets.versioned("stylesheets/tag.css")" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' media="all" type='text/css'>
    <script src="@routes.Assets.versioned("javascripts/jsbarcode.js")"></script>
</head>
<body>
    <div class="tag-container">
        <ul class="tag-list">
            @for(item <- items) {
            <li>
                <header class="tag-header">
                    <h2>@item.name</h2>

                    <div class="tag-price">
                        <span class="tag-currency">$</span>
                        <span class="tag-value">@item.formattedTagPrice()</span>
                    </div>
                </header>

                <div class="tag-body">
                    <ul class="tag-body-features">
                        <li>@item.description</li>
                        <li>Sold by @item.createdBy.name</li>
                        <li>Item id: <em>@item.id</em></li>
                        <img class="barcode" id=@item.id>
                        <script>JsBarcode(document.getElementById(@item.id), @item.id)</script>
                    </ul>
                </div>

            </li>
            }

        </ul>
    </div>
</body>
</html>

