@(page: String, nav:String, items: List[Item], searchForm: Form[Item], addItemForm: Form[Item])

@main(page, nav) {
<html lang="en">
<head>
    <title>Your Items.</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

@* table that contains the items *@
<div class="container">
    <h2>New Sale</h2>
    <p>The following items are for sale.</p>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Item Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>ID</th>
            <th>Created By</th>
        </tr>
        </thead>
        @for(item <- items) {
        <tr>
            <td>@item.name</td>
            <td>@item.price</td>
            <td>@item.description</td>
            <td>@item.id</td>
            <td>@item.createdBy.email</td>
        </tr>
        }
        </tbody>
    </table>
</div>

@* the form to add a new item *@
<form action="/addItem">
    <input type="Item name" placeholder="Item name" value="@addItemForm("name").value()">
    <input type="Price"  placeholder="Price" value="@addItemForm("price").value()">
    <input class="enter" type="submit" value="Add Item"/>
</form>




@* the search box *@
<div class="container">
    <form class="form-search">
        <h3>Want to find an item?</h3>
        <div id="custom-search-input">
            <div class="input-group col-md-12">
                <input type="text" name="name" class="  search-query form-control"
                       placeholder="Search" value="@searchForm("name").value()">
                                <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
            </div>
        </div>
    </form>
</div>



</body>
</html>
}
